<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Marketplace test " >
   <listeners>
    <listener class-name="result.CustomReporter" />
    <listener class-name="org.uncommons.reportng.HTMLReporter" />
   <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
  </listeners>
   <test verbose="1" name="Join seller">
     <packages>
	<package name= "join_seller" /> 
	
	</packages>
  </test> 
   
</suite> <!-- Suite -->
